#mainPage{
}

body{
	background:url(../img/header.jpg) left center no-repeat;
}
.headerMessage{
	width:100%;
	height:160px;
}

/*Time.................................................*/
#time{
	width:60px;
	height:60px;
	position:absolute;
	left:20px;
	top:40px;
	font:50px '微软雅黑';
	color:red;
	text-align: center;
	border:3px solid #d8d0d0;
	border-radius: 20px;
	font-weight: 700;
}


/*score ..............................................*/
#Scores{
	position:absolute;
    right:20px;
    top:40px;
    font:50px '微软雅黑';
    font-weight: 700;
    color:#0df118;
}


/*login  ............................................*/
#loadPage{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
    background:url(../img/buttonBackground.png) left center no-repeat;
    background-size:cover;
}
#loginButtonDiv{
	position:absolute;
	left:50%;
	top:60%;
	margin-left:-100px;
}
#loadButton{
	width:0;
	border:none;
	outline: none;
}
#progressbar{
    display: none;
	width:90%;
	height:15px;
	position: absolute;
	bottom:25%;
	margin-left:5%;
}

/*gameOver .............................................*/
#gameOver{
	display: none;
	width:85%;
	height:30%;
	position: absolute;
	left:50%;
	top:50%;
	margin-top:-42%;
	margin-left:-42.5%;
	background:url(../img/over.png) left center no-repeat;
	font-family: '微软雅黑';
}

#playAgainButton{
	width:100%;
	height:120px;
	position: absolute;
	left:0;
	bottom:0;
	font-size: 48px;
	text-align: center;
	background-color: #0559f3;
	border:none;
	color:#FFF;
}

#highestScore{
	margin:7% auto;
	font-size: 85px;
	text-align: center;
	color:#22ebf8;
}
#highestScoreText{
	display: block;
	font-size:50px;
	color:#031b3e;
}

#nowScores{
    margin:-5% auto;
    font-size: 85px;
    text-align: center;
    color:#a11cad;
}
#nowScoresText{
	display: block;
	font-size:45px;
	color:#f5e213;
}