
body{
	margin:0;
	overflow: hidden;
}

#gameOver{

	border:2px solid #5f0cf7;
	padding:0 6px;
}
#gameOver canvas{

	margin:0;
	padding:0;

}

#title {

	text-align: center;
	padding: 8px 0 6px 0;
	color: #6b2ddc;
}

#btn spand{

    text-align: center;
    line-height: 20px;
    color: #fff;
    display: inline-block;

    background-color: #0546cb;
    float: left;

    cursor: pointer;

}
