@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {

	margin:0;
	padding:0;
	color: #fff;
	font-weight: 400;
	font-size: 62.5%;
	font-family: 'Raleway', Arial, sans-serif;

	background: url( "../img/login.jpg");
	background-size: cover;
    overflow: hidden;
}

#musics{

	margin: 1em 0 0 0.8em;
}

a {
	color: #1e6fa4;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #125480;
	outline: none;
}

/*游戏介绍*/
#info{

	width: 20%;
	font-size: 1.5em;
	position: absolute;
	top: 0.5em;
	right: 0.5em;

}

#info h3{
	
	text-align:center;
}

#info span{

    line-height: 1.5em;
    text-decoration: underline;
}

/*游戏关卡*/
#gameLevels{
    
	position:absolute;
	left:64%;
	top: 38%;
}

#gameLevels span.cs-placeholder {

	background-position: 50% 120%;
}

/*游戏开始按钮*/

#starButton {

	width: 8em;
	height: 4em;

	position:absolute;
	left: 42%;
	top: 80%;

	text-align: center;
	line-height: 4em;

	border: 0.2em solid #0000ff;
	border-radius: 2em;
	box-shadow: 0.1em 0.1em 0.3em 0.4em #3d0c5d;

	background-color: rgba(0,0,0,0.6);

}
#starButton span{

	font-size:1.5em;
	cursor: pointer;

}

/*@media screen and (max-width: 30em) {

	body::before,
	body::after {
		display: none !important;
	}

	body {
		border: none !important;
		padding: 0 !important;
	}

	.codrops-header h1 {
		font-size: 2em;
	}

	.codrops-icon span {
		display: none;
	}

}
*/

@media screen and ( min-width: 212px){/*213px显示屏样式 LG Optimus One*/

	body{
		font-size: 45%;
	}


}
@media screen and ( min-width: 319px){/*320px显示屏样式 苹果4/4S/5C/5S黑莓Z30 */
	body{
		font-size: 45%;
	}


}
@media screen and ( min-width: 359px){/*360px显示屏样式 索尼Z1*/
	body{
		font-size: 45%;
	}

}
@media screen and ( min-width: 383px){/*384px显示屏样式 黑莓Z10 谷歌 Nexus 6 LG Optimus G*/
	body{
		font-size: 45%;
	}

}
@media screen and ( min-width: 399px){/*399px显示屏样式 三星galaxyNote*/
	body{
		font-size: 45%;
	}

}
@media screen and ( min-width: 414px){/*414px显示屏样式 苹果6plus*/
	body{
		font-size: 45%;
	}

}
@media screen and ( min-width: 423px){/*424px显示屏样式 LG 4X */
	body{
		font-size: 45%;
	}

}
@media screen and ( min-width: 479px){/*480px显示屏样式 索尼MT27i Xperia sola*/
	body{
		font-size: 45%;
	}

}
@media screen and ( min-width: 539px){/*640px显示屏样式 摩托罗拉Droid3/4/Razr Atrix 4g*/
	body{
		font-size: 45%;
	}

}
@media screen and ( min-width: 639px){/*640px显示屏样式*/
	body{
		font-size: 45%;
	}

}
@media screen and ( min-width: 640px){/*640px以上显示屏样式*/

	body{
		font-size: 45%;
	}

}


