
#loading {
    
    width: 100%;
    height: 100%;

    background:#fff;
    position: fixed;
    left:0;
    top:0;

}

#loading img{

    display: block;
    position: absolute;
    left: 35%;
    top: 50%;
    
    -webkit-animation: animations 4s ease-in-out infinite;
    animation: animations 4s ease-in infinite;
}

@-webkit-keyframes animations{
    
    0%{ left:35%;top:50%; opacity:0; }
    5%{ left:36.5%;top:49%; opacity:0.4;}
    10%{ left:38%;top:48%; opacity:0.6; }
    15%{ left:39.5%;top:49%; opacity:0.8; }
    20%{ left:41%;top:50%; opacity:1; }
    25%{ left:42.5%;top:49%; opacity:1; }
    30%{ left:44%;top:48%; opacity:1; }
    35%{ left:45.5%;top:49%; opacity:1; }
    40%{ left:47%;top:50%; opacity:1; }
    45%{ left:48.5%;top:49%; opacity:1; }
    50%{ left:50%;top:48%; opacity:1; }
    55%{ left:51.5%;top:49%; opacity:1; }
    60%{ left:53%;top:50%; opacity:1; }
    65%{ left:54.5%;top:49%; opacity:1; }
    70%{ left:56%;top:48%; opacity:1; }
    75%{ left:57.5%;top:49%; opacity:1; }
    80%{ left:59%;top:50%; opacity:1; }
    85%{ left:60.5%;top:49%; opacity:0.8; }
    90%{ left:62%;top:48%; opacity:0.6; }
    95%{ left:63.5%;top:49%; opacity:0.4; }
    100%{ left:65%;top:50%; opacity:0; }

}


@keyframes animations{
    
    0%{ left:35%;top:50%; opacity:0; }
    5%{ left:36.5%;top:49%; opacity:0.4;}
    10%{ left:38%;top:48%; opacity:0.6; }
    15%{ left:39.5%;top:49%; opacity:0.8; }
    20%{ left:41%;top:50%; opacity:1; }
    25%{ left:42.5%;top:49%; opacity:1; }
    30%{ left:44%;top:48%; opacity:1; }
    35%{ left:45.5%;top:49%; opacity:1; }
    40%{ left:47%;top:50%; opacity:1; }
    45%{ left:48.5%;top:49%; opacity:1; }
    50%{ left:50%;top:48%; opacity:1; }
    55%{ left:51.5%;top:49%; opacity:1; }
    60%{ left:53%;top:50%; opacity:1; }
    65%{ left:54.5%;top:49%; opacity:1; }
    70%{ left:56%;top:48%; opacity:1; }
    75%{ left:57.5%;top:49%; opacity:1; }
    80%{ left:59%;top:50%; opacity:1; }
    85%{ left:60.5%;top:49%; opacity:0.8; }
    90%{ left:62%;top:48%; opacity:0.6; }
    95%{ left:63.5%;top:49%; opacity:0.4; }
    100%{ left:65%;top:50%; opacity:0; }

}